<div class="dropdown">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

  </button>
  <div class="dropdown-menu">
    <% product_item.to_class.assoc_names.each do |assoc| %>
      <a class="dropdown-item field-toggle" role="button" href='#<%= dom_ref(product_item, assoc.to_sym, :add) %>'><%= "add #{item_hsh(assoc)[:label]}" %></a>
      <a class="dropdown-item field-toggle" role="button" href='#<%= dom_ref(product_item, assoc.to_sym, :new) %>'><%= "new #{item_hsh(assoc)[:label]}" %></a>
    <% end %>
  </div>
</div>
