<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref(product_item, :tab, :item) %>" href="<%= product_item_path(product_item) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col item-name">
      <%= product_item.item_name %>
    </div>
  </div>
</a>
