<div class="form-row align-items-center">
  <div class="input-group align-items-center rounded-border bg-white">
    <div class="input-group-prepend">
      <div class="input-group-text bg-transparent rounded-left-border border-0">
        <span><%= (fa_icon "search") %></span>
      </div>
    </div>
    <%= select_tag "product_search[#{opt_name}]", options_for_select(search_input_options(opt_name, tag_group)), {class: "form-control border-0 search-select"} %>
    <div class="input-group-append">
      <div class="input-group-text bg-transparent border-top-0 border-right-0 border-bottom-0">
      </div>
    </div>
  </div>
</div>
