<div class="btn-group" role="group">
  <button type="button" class="btn btn-sm btn-light form-control-sm form-toggle" data-target="#search"><%= (fa_icon "search") %></button>
  <button type="button" class="btn btn-sm btn-light form-control-sm form-toggle" data-target="#new"><%= (fa_icon "plus") %></button>
</div>
