<% artist_form_row(fields).each do |field| %>
  <%= f.fields_for :tags, OpenStruct.new(artist.tags) do |ff| %>
    <div class="<%= "#{field['col']} pt-2" %>">
      <div class="input-group input-group-sm">
        <%= render "item_fields/label", label: field['label'] %>
        <%= ff.text_field field['name'], class: "form-control bg-gray-c border-gray-b rounded-right-border-md border-left-0 pl-0", id: field['name'] %>
      </div>
    </div>
  <% end %>
<% end %>
