<div class="row justify-content-center">
  <h1 id="">
  </h1>
</div>

<div class="row">
  <div class="col-5">
    <div class="card border border-secondary p-1">
      <div class="row justify-content-between">
        <div class="col-2">
          <%= render "artists/btn_toggle" %>
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-12 collapse show" id="new">
              <%= render "artists/new" %>
            </div>
            <div class="col-12 collapse" id="search">
              <%= render "artists/search" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- <div class="col-7"> -->
    <div id="show-card">
    </div>
  <!-- </div> -->
</div>
