<table class="table table-sm table-striped table-hover">
  <thead>
  </thead>

  <tbody>
    <% supplier.invoices.order(:invoice_number).each do |invoice| %>
      <%= render 'invoices/invoice', invoice: invoice %>
    <% end %>
  </tbody>
</table>
