<tr>
  <th>
    <div class="media">
      <div class="media-body">
        <a href="<%= supplier_invoice_path(invoice.supplier, invoice) %>" class="btn btn-link" type="button">
          <%= invoice.invoice_number %>
        </a>
      </div>
    </div>
  </th>
</tr>
