<h1>Invoice List</h1><br>

<table class="table table-striped table-hover">
  <thead>
    <th>Invoices Name</th>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <%= render 'invoices/table_row', invoice: invoice %>
    <% end %>
  </tbody>
</table>
