<div class="row justify-content-center">
  <h1><%= @invoice.supplier.supplier_name %>: <%= @invoice.invoice_number %></h1>
</div>
<hr>

<div id="invoice-navbar-forms">
  <%= render 'invoices/nav_bar', invoice: @invoice %>
</div>

<hr>

<div id="items-table">
  <%= render 'items/table', invoice: @invoice %>
</div>
