<div class="row justify-content-center">
  <h1><span id="invoice-name"><%= @invoice.invoice_name %></span></h1>
</div>
<hr>

<div id="invoice-navbar-forms">
  <%= render 'invoices/navbar', invoice: @invoice, results: @nav_products, items: @items, inputs: @nav_search_inputs, item_inputs: @item_inputs %>
</div>

<hr>

<div id="items-table">
  <%= render 'table_skus/table', invoice: @invoice %>
</div>
