<%= form_tag(invoice_export_skus_path(@invoice, format: "csv"), method: "post", id: "export-skus") do |f| %>
<div class="form">
  <div class="card bg-gray-d border-0 mb-2">
    <div class="form-row align-items-center p-1">

      <div class="col-2 ml-0">
        <div class="input-group input-group-sm">
          <label class="fs-xs font-weight-light text-secondary pt-2 px-1">start</label>
          <%= number_field_tag :start_sku, nil, placeholder: "start sku", maxlength: 6, class: "form-control form-control-sm" %>
        </div>
      </div>

      <div class="col-2 ml-0">
        <div class="input-group input-group-sm">
          <label class="fs-xs font-weight-light text-secondary pt-2 px-1">end</label>
          <%= number_field_tag :end_sku, nil, placeholder: "end sku", maxlength: 6, class: "form-control form-control-sm" %>
        </div>
      </div>

      <div class="col-md-1 offset-md-7">
        <%= submit_tag "export", class: "btn btn-sm btn-outline-primary form-control-sm mr-sm-2" %>
      </div>
    </div>
  </div>
<% end %>
