<%= form_with model: Item.new, url: search_invoice_search_items_path(invoice), method: :get, id: "search-items" do |f| %>
  <div class="form card border border-secondary p-1 mb-2">
    <div class="form-row">
      <% inputs.each do |k, opt_hsh| %>
        <%= render 'search_items/input_field', k: k, opts: opt_hsh['opts'], selected: opt_hsh['selected'], col: search_tags[k]['col'] %>
      <% end %>
    </div>
  </div>
<% end %>
