<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref(product, :tab, :item) %>" href="<%= product_path(product) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col item-name">
      <%= product.product_name %>
    </div>
  </div>
</a>
