<div id="artist-navbar-forms">
  <hr>
  <div class="pos-f-t">
    <div class="collapse" id="add-artist-toggle" data-parent="#artist-navbar-forms">
      <%= render 'artists/form' %>
    </div>
  </div>

  <div class="pos-f-t">
    <div class="collapse" id="edit-artist-toggle" data-parent="#artist-navbar-forms">
    </div>
  </div>

  <div class="pos-f-t">
    <div class="collapse" id="search-artist-items-toggle" data-parent="#artist-navbar-forms">
    </div>
  </div>
</div>
