<div class="btn-group nav-toggle">
  <button type="button" class="btn btn-outline-light bg-transparent border-0 nav-btn static" data-toggle="collapse" data-target="#add-artist-toggle">Add Artist</button>
  <button type="button" class="btn btn-outline-light bg-transparent border-0 nav-btn disable dynamic" data-toggle="collapse" data-target="#edit-artist-toggle" disabled>Edit Artist</button>
  <button type="button" class="btn btn-outline-light bg-transparent border-0 nav-btn disable dynamic" data-toggle="collapse" data-target="#search-artist-items-toggle" disabled>Search Artist Items</button>
</div>
