<nav class="navbar navbar-expand-sm navbar-light bg-primary" data-span="#artist-name" data-span-val="No Artist Selected" data-form="#artist-search" data-input="select">
  <a class="navbar-brand text-white"><span class="artist-brand" id="artist-name">No Artist Selected</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#artist-nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="artist-nav">
    <%= render 'artists/nav/nav_links' %>
  </div>
  <%= render 'artists/nav/search', artist: artist %>
</nav>
