<%= form_tag(invoice_export_skus_path(invoice, format: "csv"), method: "post", id: "export-skus") do |f| %>
  <div class="form">
    <div class="card bg-gray-d p-1 mb-2">
      <div class="form-row p-1">

        <div class="col-4 ml-0">
          <div class="input-group input-group-sm">
            <%= render "item_fields/label", label: 'skus' %>
            <%= text_field_tag :skus, nil, placeholder: "enter sku range", class: boot_classes(:input, 'required') %>
          </div>
        </div>

        <div class="col-md-1 offset-md-7">
          <button class="<%= boot_classes(:submit, 'badge-primary') %>" type="submit" disabled>export</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
