<div class="list-group" id="product-index" role="tablist">
  <% @products.each do |product| %>
    <button type="button" class="list-group-item list-group-item-action py-1 <%= active_btn(product.id, @input_group[:product_id]) %>" id="<%= product.id %>" data-toggle="list">
      <span class="text-sm font-weight-light item-name"><%= product.product_name %></span>
    </button>
  <% end %>
</div>
