<tr>
  <td>
    <a href="<%= invoice_item_path(item.invoice, item) %>" class="btn btn-sm btn-link" type="button">
      <span class="fs-s"><%= item.sku %></span>
    </a>
  </td>

  <td>
    <span class="fs-s"><%= item.hattr('csv_tags', 'invoice_tagline') %></span>
  </td>
</tr>
