<%= form_with model: item, url: invoice_sku_path(invoice, item), id: dom_ref(item, 'edit-sku') do |f| %>
  <div class="form">
    <div class="card bg-gray-d p-0 mb-1">
      <div class="form-row pl-1 ml-0 mb-2">

        <div class="col-2 pt-2">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <button id="" class="caret-toggle btn btn-sm bg-transparent mx-1 my-1 pl-1 py-0" type="button" <%= disable_btn(nil) %>></button>
            </div>
            <%= render "item_fields/label", label: 'sku' %>
            <%= f.number_field :sku, class: boot_classes(:input, 'field-param') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
