<%#= form_with url: search_item_artists_path, method: :get, id: "artist-search" do |f| %>
<%= form_with model: item, url: item_artist_path(item), method: "patch", id: "patch-item-artist" do |f| %>
  <div class="form">
    <div class="input-group input-group-sm border border-secondary rounded">
      <div class="input-group-prepend">
        <button class="btn btn-sm btn-secondary text-sm text-light font-weight-light reset-select" data-target="artist-add" type="button"><%= (fa_icon "repeat") %></button>
      </div>
      <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {include_blank: true, selected: artist.try(:id)}, class: "form-control border-0 artist-update" %>
    </div>
  </div>
<% end %>
