<div class="form-check form-check-inline">
  <%= radio_button_tag "items[search][type]", opt_hsh[:value], opt_hsh[:checked], {class: "form-check-input search-select"} %>
  <label class="form-check-label" for="<%= opt_hsh[:name] %>"><%= opt_hsh[:label] %></label>
</div>
