<hr>
<div class="row">
  <div class="col-12">
    <div class="card p-1 mb-2 border-0">
      <div><span class="font-weight-bold">Tagline: </span><span id="tagline"><%= item.hattr('csv_tags', 'tagline') %></span></div>
    </div>
    <div class="card p-1 mb-2 border-0">
      <div><span class="font-weight-bold">Body: </span><span id="description"><%= item.hattr('csv_tags', 'description') %></span></div>
    </div>
    <div class="card p-1 mb-2 border-0">
      <div><span class="font-weight-bold">P-Room: </span><span id="property_room"><%= "#{item.hattr('csv_tags', 'property_room')} (#{item.hattr('csv_tags', 'property_room').try(:length)})" %></span></div>
    </div>
  </div>
</div>
