<div class="card p-1 mb-1 bg-disabled border-0">
  <div class="card-header border-0 bg-transparent pt-0 pb-0 pl-0 pr-0">
    <div class="row">
      <div class="col-auto">
        <a href="<%= invoice_item_path(item.invoice, item) %>" class="btn btn-sm btn-link" type="button">
          <span class="fs-s"><%= item.sku %></span>
        </a>
      </div>
      <div class="col-11 pt-1">
        <span class="fs-s"><%= item.hattr('csv_tags', 'invoice_tagline') %></span>
      </div>
    </div>
  </div>
  <div class="card-body pt-2 pb-1 pl-0 bg-light rounded border border-light-gray border-right-0 border-left-0 border-bottom-0 collapse">
    <div class="row">
    </div>
  </div>
</div>
