<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <% invoice_keys.each do |k| %>
      <th scope="col"><span class="fs-s"><%= k %></span></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render 'items/table_body', invoice: invoice %>
  </tbody>
</table>
