<table class="table table-sm table-striped table-hover">
  <thead>
  </thead>

  <tbody>
    <%#= render 'items/table_body', invoice: invoice %>
    <% invoice.items.order(:sku).each do |item| %>
      <%= render 'items/invoice_card', item: item %>
    <% end %>
  </tbody>
</table>
