<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <%# invoice_keys.each do |opts| %>
        <th scope="col"><span class="fs-s"><%#= opts[-1] %></span></th>
      <%# end %>
    </tr>
  </thead>

  <tbody>
    <%= render 'items/table_body', invoice: invoice %>
  </tbody>
</table>
