<tr>
  <th>
    <div class="media">
      <div class="media-body">
        <a href="<%= invoice_item_path(item.invoice, item) %>" class="btn btn-link" type="button">
          <%= "#{item.sku} #{item.invoice.items.count}" %>
        </a>
      </div>
    </div>
  </th>
</tr>
