<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">sku</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'items/table_body', invoice: invoice %>
  </tbody>
</table>
