<table class="table table-sm table-striped table-hover">
  <thead>
  </thead>

  <tbody>
    <% invoice.items.order(:sku).each do |item| %>
      <%= render 'items/item', item: item %>
    <% end %>
  </tbody>
</table>
