<tr>
  <td>
    <a href="<%= invoice_item_path(item.invoice, item) %>" class="btn btn-sm btn-link" type="button">
      <span class="fs-s"><%= item.sku %></span>
    </a>
  </td>

  <% table_row(item.csv_tags).each do |row| %>
    <td>
      <span class="fs-s"><%= row %></span>
    </td>
  <% end %>
</tr>
