<div class="card border border-secondary mb-2" id="item-products-aside">
  <div class="card-header">
    <%= render "item_products/forms/post", item: item, product: product %>
    <%= render "item_products/forms/patch", item: item, product: product %>
    <%= render "item_products/forms/delete", item: item, product: product %>
  </div>

  <div class="card-body" id="tab-pane">
    <%= render "item_products/index", products: products, item: item %>
    <!-- <div class="list-group" id="item-products-index" role="tablist">
      <%# products.each do |product| %>
        <%#= render "item_products/product", product: product, item: item %>
      <%# end %>
    </div> -->
  </div>
</div>
