<%= form_with model: ProductItem.new, id: "product_item-new" do |f| %>
  <div class="form-inline">
    <%= f.select :type, types(ProductItem), {prompt: "- select type -"}, {class: "form-control form-control-sm mr-sm-2"} %>
    <%= f.text_field :item_name, placeholder: "name", class: "form-control form-control-sm mr-sm-2" %>
    <button class="btn btn-sm btn-outline-primary form-control-sm" type="submit">submit</button>
  </div>
<% end %>
