<button id="<%= card_id %>" class="<%= boot_classes(:caret, 'mx-1', 'my-0', 'pl-1', 'py-0') %>" data-target="<%= target %>" data-input="#caret-id" type="button"><%= caret_toggle(i, body, context) %></button>
