<div class="input-group-prepend">
  <span class="kind-label bg-gray-c border border-gray-b rounded-left-border-md border-right-0 text-info fs-xs font-weight-light pt-2 pl-1 pr-0"><%= input_label(f_hsh) %></span>
</div>
