<div class="col-2">
  <div class="input-group input-group-sm">
    <%= f.number_field f_hsh[:f_name], value: f_hsh[:selected],  placeholder: f_hsh[:f_name], step: 0.5, class: "form-control field-param" %>
  </div>
</div>
