<div class="col-3">
  <label><%#= f_hsh[:label] %></label>
  <div class="input-group input-group-sm">
    <%= f.collection_select f_hsh[:method], f_hsh[:f_obj].options, :id, :field_name, {include_blank: true, selected: f_hsh[:selected]}, {class: "form-control field-param"} %>
  </div>
</div>
