<div class="col-3">
  <div class="input-group input-group-sm">
    <%= f.collection_select f_hsh[:f_name], f_hsh[:f_val].options, :id, :field_name, {include_blank: true, selected: f_hsh[:selected]}, {class: "form-control field-param"} %>
  </div>
</div>
