<div class="col-12">
  <label><%#= f_hsh[:label] %></label>
  <div class="input-group input-group-sm">
    <%= f.text_area f_hsh[:f_name], value: f_hsh[:selected], placeholder: f_hsh[:f_name], class: "form-control" %>
  </div>
</div>
