<div class="col-3">
  <div class="input-group input-group-sm mb-3">
    <%= f.collection_select f_hsh[:method], f_hsh[:collection], :id, :field_name, {include_blank: true, selected: f_hsh[:selected].try(:id)}, {class: "form-control field-param"} %>
  </div>
</div>
