<div class="row justify-content-center">
  <h1 id="">
  </h1>
</div>

<div class="row">
  <div class="col-5">
    <div class="card border border-secondary p-1">
      <div class="card-header p-1">
        <%= render "products/new" %>
      </div>
      <div class="card-body p-1">
        <%= render 'products/aside', products: @products %>
      </div>
    </div>
  </div>

  <div class="col-7">
    <div id="show-card">
    </div>
  </div>
</div>
