<div class="form-inline" id="new-supplier">
  <%= form_with model: Supplier.new do |f| %>
    <%= f.text_field :supplier_name, placeholder: "supplier's name", class: "form-control form-control-sm mr-sm-2" %>
    <button class="btn btn-sm btn-outline-primary form-control-sm" type="submit">submit</button>
  <% end %>
</div>
