<%= form_with model: Supplier.new, id: "new-supplier" do |f| %>
  <div class="form">
    <div class="input-group input-group-sm">
      <%= f.text_field :supplier_name, placeholder: "supplier's name", class: "form-control form-control-sm" %>
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-primary form-control-sm" type="submit">save</button>
      </div>
    </div>
  </div>
<% end %>
