<div class="card p-1 mb-1 border-0 <%=table_strip(i)%>" id="<%= supplier.supplier_name %>">
  <div class="card-header border-0 bg-transparent pt-0 pb-0 pl-0 pr-0">
    <div class="row">
      <div class="col-auto">
        <a href="<%= supplier_path(supplier) %>" class="btn btn-sm btn-link" type="button">
          <span class="fs-s"><%= supplier.supplier_name %></span>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body pt-2 pb-1 pl-0 bg-light rounded border border-light-gray border-right-0 border-left-0 border-bottom-0 collapse">
    <div class="row">
    </div>
  </div>
</div>
