<a class="list-group-item list-group-item-action py-1" id="<%= dom_tag(supplier, 'tab-item') %>" href="<%= supplier_path(supplier) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col item-name">
      <span class="text-sm"><%= supplier.supplier_name %></span>
    </div>
  </div>
</a>
