<table class="table table-sm table-striped table-hover">
  <thead>
  </thead>

  <tbody>
    <% suppliers.order(:supplier_name).each do |supplier| %>
      <%= render 'suppliers/supplier', supplier: supplier %>
    <% end %>
  </tbody>
</table>
