<table class="table table-sm table-striped table-hover">
  <thead>
  </thead>

  <tbody>
    <% suppliers.order(:supplier_name).each_with_index do |supplier, i| %>
      <%= render 'suppliers/supplier', supplier: supplier, i: i %>
    <% end %>
  </tbody>
</table>
