<div class="row justify-content-center">
  <h1>Supplier List</h1>
</div>
<hr>

<nav class="navbar navbar-expand-sm navbar-light bg-disabled">
  <a class="navbar-brand">Suppliers</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#supplier-nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse form-toggle" id="supplier-nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#new-supplier-toggle">Add Supplier</a>
      </li>
    </ul>

  </div>
</nav>

<div class="pos-f-t">
  <div class="collapse" id="new-supplier-toggle" data-parent="#supplier-navbar-forms">
    <hr>
    <%= render 'suppliers/new' %>
  </div>
</div>

<hr>

<div id="suppliers-table">
  <%= render 'suppliers/table', suppliers: @suppliers %>
</div>
