<div class="card-header bg-transparent pt-0 pb-1 pl-0 pr-0">
  <div class="form-row mb-1">

    <div class="col-4 pt-2">
      <div class="input-group input-group-sm">
        <%= render "item_fields/caret", card_id: 'skus', target: dom_ref('#new-item-skus-body', item), body: true, i: 0, context: 'header' %>
        <%= render "item_fields/label", label: 'skus' %>
        <%= f.text_field :skus, placeholder: "enter sku range", class: boot_classes(:input, 'required') %>
      </div>
    </div>

    <div class="col-md-1 offset-md-7 pt-2">
      <button class="<%= boot_classes(:submit, 'badge-primary') %>" type="submit" disabled>create</button>
    </div>
  </div>
</div>
